[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
transformers = "*"
gensim = "*"
humetrix = {file = ".", editable = true}
scipy = "==1.10.1"
tqdm = "*"
cupy-cuda11x = "*"
spacy = {extras = ["cuda11x", "transformers"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
