[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
transformers = "*"
gensim = "*"
spacy = "*"
humetrix = {file = ".", editable = true}
scipy = "==1.10.1"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
